POSTGRES_DB=gomes_library_system
POSTGRES_USER=gomes_library_system_user
POSTGRES_PASSWORD=library_manager_password
SECRET_KEY=replace-with-a-long-random-secret
CORS_ORIGIN=http://localhost:8080
BACKEND_PORT=3000
FRONTEND_PORT=8080
DATABASE_PORT=5432
